.container {
	margin-right: auto;
	margin-left: auto;
	width: 700px;
}

.card-white {
	background-color: #efefee;
	margin: 50px auto;
	padding: 20px;
	border-radius: 8px;
	border: 1px solid lightgrey;
	text-align: center;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}
